{% load mu_tags %}
<li data-index="0" class="margin-bottom-30 one_third category-child first">
    <div class="row margin-none tile">
        <div class="col-sm-12 padding-none">
            <a class="same-size" href="">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{% mediapath object.image %}">
            </a>
        </div>
        <div class="col-sm-12 padding-none">
            <h6 class="font-size-16 text-center">
                <a href=>{{ object.name }}</a>
                <p class="card-text">{{ object.description|slice:":100" }}</p>
                <span class="white-color font-size-12 text-center"></span>
            </h6>
        </div>
    </div>
</li>